<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc.xsd
     ">
  
 <!-- Add support for component scanning -->
 <context:component-scan base-package="pk" />
  <!-- A handler for serving static resources -->
<mvc:resources mapping="/assets/**" location="/assets/" />
 <!-- Step 4: Add support for conversion, formatting and validation support -->
 <mvc:annotation-driven/>
  
 <!-- Step 5: Define Spring MVC view resolver -->
 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  <property name="prefix" value="/WEB-INF/view/" />
  <property name="suffix" value=".jsp" />
 </bean>
 <!-- Other beans -->
 <!-- Initialization for data source 1 -->
<bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql://localhost/cdb"/>
  <property name="username" value="root"/>
  <property name="password" value=""/>
</bean>    
<!-- Initialization for data source 2 -->
<bean id="dataSource2" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql://localhost/cdb"/>
  <property name="username" value="root"/>
  <property name="password" value=""/>
</bean>    
<!-- Initialization for data source 3 -->
<bean id="dataSource3" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql://localhost/cdb"/>
  <property name="username" value="root"/>
  <property name="password" value=""/>
</bean>    

<!-- Definition for SolutionDAOJDBCImpl bean (JDBC Implementation Class) -->
<bean id="solutionDAOJDBCImpl" class="pk.daos.SolutionDAOJDBCImpl">
  <property name="dataSource" ref="dataSource1" />
</bean>

<!-- Definition for TopicDAOJDBCImpl bean (JDBC Implementation Class) -->
<bean id="topicDAOJDBCImpl" class="pk.daos.TopicDAOJDBCImpl">
  <property name="dataSource" ref="dataSource2" />
</bean>
<!-- Definition for UserDAOJDBCImpl bean (JDBC Implementation Class) -->
<bean id="userDAOJDBCImpl" class="pk.daos.UserDAOJDBCImpl">
  <property name="dataSource" ref="dataSource3" />
</bean>
<bean id="creationService" class="pk.services.CreationServiceImpl" >
</bean>
<bean id="authService" class="pk.services.AuthServiceImpl" >
</bean>
<bean id="searchService" class="pk.services.SearchServiceImpl" >
</bean>
<bean id="updateService" class="pk.services.UpdateServiceImpl" >
</bean>
</beans>